.coding-page {

  font-family: "Inter", sans-serif;
}

/* HERO */
.coding-hero {
  text-align: center;
   margin-bottom: 40px;
}

.coding-hero h1 {
    font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;

}

.coding-hero p {
   font-size: 20px;
  max-width: 720px;
  margin: 0 auto;
  color: #444;
}

.coding-journey h2 {
    font-size: 36px;
  font-weight: 700;
 
  text-align: center;
}

.coding-actions button{
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #10b981;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 3rem;
  
}


/* CAROUSEL OUTER */
.coding-carousel {
  width: 100%;
  height: 40vh;
  overflow-x: auto;
  overflow-y: visible; /* allows zoom to escape container */
  padding-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.coding-carousel::-webkit-scrollbar {
  display: none;
}

/* TRACK */
.coding-track {
  height: 300px;
  display: flex;
  gap: 32px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

/* CARD ITEM */
.coding-item {
  flex: 0 0 auto;
  width: 240px;
  cursor: pointer;
  justify-content: center;
  text-align: center;

 


  background: #fff;

  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.05);

  flex-direction: column;
  text-align: center;
  transition: transform .2s ease, box-shadow .2s ease;
}

/* IMAGE */
.coding-item img {
  width: 100%;
  padding: 0 12px;
  height: 160px;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 12px;
  margin-top: 12px;


  display: block;
  transition: transform 0.28s ease, box-shadow 0.28s ease;
}

/* TEXT - Apple's spec */
.coding-title {
  font-size: 1.25em;
  font-weight: 600;
  color: #111;
  padding: .5em;
  margin-bottom: 4px;
  letter-spacing: -0.2px;
}

.coding-desc {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  line-height: 1.35;
  max-width: 200px;
  margin: 0 auto;
  min-height: 38px; /* prevents shifting when zoom */
    margin-bottom: 2rem;
}

/* DESKTOP HOVER */
@media (hover: hover) {
  .coding-item:hover img {

    transform: scale(1.45) translateY(-18px);
    box-shadow: 0 14px 32px rgba(0,0,0,0.18);
    z-index: 10;
    position: relative;
  }

  .coding-track:hover .coding-item {
    opacity: 0.9;
  }

  .coding-item:hover {
    opacity: 1 !important;
  }
}

/* MOBILE */
@media (max-width: 820px) {
  .coding-item,
  .coding-item img {
  
    transform: none !important;
    box-shadow: none !important;
    opacity: 1 !important;
  }

  .coding-item {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .coding-item {
    width: 80vw;
  }

  .coding-item img {
  
    height: 45vw;
  }
  .coding-carousel {
  width: 100%;
  height: 550px;
  overflow-x: auto;
  overflow-y: visible; /* allows zoom to escape container */

  scrollbar-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
}
